<!-- IF TYPE eq 'talent' -->
<div xmlns="http://www.w3.org/1999/xhtml" class="tc-tooltip">
	<h3>{NAME}</h3>
	<div>
		<span class="float-right">{RANGE}</span>
		{POWERCOST}
		<span class="clear"><!-- --></span>
	</div>

	<div>
		<span class="float-right">{COOLDOWN}</span>
		{CASTTIME}
		<span class="clear"><!-- --></span>
	</div>

	<div class="color-tooltip-yellow">
	{DESCRIPTION}
	</div>
</div>
<!-- ENDIF -->
<!-- IF TYPE eq 'spell' -->
<div xmlns="http://www.w3.org/1999/xhtml" class="tc-tooltip">
	<h3>{NAME}</h3>
	<div>
		<span class="float-right">{RANGE}</span>
		{POWERCOST}
		<span class="clear"><!-- --></span>
	</div>

	<div>
		<span class="float-right">{COOLDOWN}</span>
		{CASTTIME}
		<span class="clear"><!-- --></span>
	</div>

	<div class="color-tooltip-yellow">
	{DESCRIPTION}
	</div>
</div>
<!-- ENDIF -->