
<!-- IF U_LOGIN eq '1' -->
	<div class="tier-2-a login-box">
		<div class="tier-2-b">
			<div class="tier-2-title">
				Welcome, {L_LOGIN_WORD}
			</div>

	<!-- IF S_LOGIN_MESSAGE -->
			<div class="message">
				{L_LOGIN_MESSAGE}
			</div>
	<!-- ENDIF -->
		</div>
	</div>
<!-- ELSE -->
<form action="{U_LOGIN_ACTION}" method="post" enctype="multipart/form-data">
		<div class="tier-2-a login-box">
			<div class="tier-2-b">
				<div class="tier-2-title">
					<!-- TRANSLATE auth_req -->
				</div>

				<div xmlns="http://www.w3.org/1999/xhtml" class="input-container" id="login-wrapper">
					<form action="{U_LOGIN_ACTION}" method="post" id="password-form" class=" username-required input-focus">
					<div class="control-group">
						<div class="controls">
						<input aria-labelledby="accountName-label" id="accountName" value="" name="accountName" title="Username" maxlength="320" type="text" tabindex="1" class="input-block" placeholder="Username" autofocus="autofocus" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
						<input aria-labelledby="password-label" id="password" value="" name="password" title="Enter your Password" maxlength="32" type="password" tabindex="1" class="input-block" autocomplete="off" placeholder="Enter your Password" />
						</div>
					</div>
					<div class="control-group">
						<button type="submit" id="submit" class="btn btn-primary btn-block" data-loading-text="" tabindex="1">
						Log In
						<i class="spinner-battlenet"></i>
						</button>
					</div>
					<div class="persistWrapper">
						<label for="rememberme"><!-- TRANSLATE remember_me --></label>
						<input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="1" />
					</div>
					<div id="help-links">
						{L_REGISTER}
						<i class="icon-external-link"></i>
					</div>
					</form>
				</div>

			</div>
<!-- IF S_LOGIN_MESSAGE -->
			<div class="message">
				{L_LOGIN_MESSAGE}
			</div>
<!-- ENDIF -->
		</div>
</form>
<!-- ENDIF -->
