<!-- $Id: menu_login.html 2488 2012-05-27 02:43:48Z c.treyce@gmail.com $ -->

<div class="menu-login">
<!-- IF S_LOGIN_MESSAGE -->
	<div class="menu-login-message">
		{L_LOGIN_MESSAGE}
<!-- IF U_LOGIN neq 0 -->
		<form class="inline slim" name="roster_logout" action="{U_LOGIN_ACTION}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="logout" value="1" />
			<button type="submit"><!-- TRANSLATE logout --></button>
	  </form>
<!-- ENDIF -->
	</div>
<!-- ENDIF -->
<!-- IF U_LOGIN eq 0 -->
	<div xmlns="http://www.w3.org/1999/xhtml" class="input-container" id="login-wrapper">
		<form action="{U_LOGIN_ACTION}" method="post" id="password-form" class=" username-required input-focus">
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="username-label" id="username" value="" name="username" title="Username" maxlength="320" type="text" tabindex="1" class="input-block" placeholder="Username" autofocus="autofocus" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="password-label" id="password" value="" name="password" title="Enter your Password" maxlength="32" type="password" tabindex="1" class="input-block" autocomplete="off" placeholder="Enter your Password" />
			</div>
		</div>
		<!-- IF S_LOGIN_MESSAGE -->
		<div class="control-group">
			<div class="controls">
				<div class="message">
					{L_LOGIN_MESSAGE}
				</div>
			</div>
		</div>
		<!-- ENDIF -->
		<div class="control-group">
			<button type="submit" id="submit" class="btn btn-primary btn-block" data-loading-text="" tabindex="1">
			Log In
			<i class="spinner-battlenet"></i>
			</button>
		</div>
		<div class="persistWrapper">
			<label for="rememberme"><!-- TRANSLATE remember_me --></label>
			<input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="1" />
		</div>
		<div id="help-links">
			{L_REGISTER}
			<i class="icon-external-link"></i>
		</div>
		</form>
	</div>
<!-- ENDIF -->
</div>
