<!-- $Id: mini_update.html 2631 2014-08-21 17:54:35Z ulminia@gmail.com $ -->

<div class="mini-list" id="mini_update" style="width:470px;top:45px;display:none;">
	<div class="tier-1-a">
		<div class="tier-1-b">
			<div class="tier-1-c">
				<div class="tier-1-title mini-list-click">
					<div class="toggle">
						<img src="{THEME_PATH}/images/button_close.png" alt="" />
					</div>
					<!-- TRANSLATE update_page -->
				</div>

				<div class="tier-2-a">
					<div class="tier-2-b">

						<form action="{U_MENU_UPDATE_LUA}" enctype="multipart/form-data" method="post">
							<input type="hidden" name="process" value="process" />

							<div class="tier-2-title">
								<div class="right">
									<input type="submit" value="<!-- TRANSLATE upload -->" />
									<a class="input" href="{U_MENU_UPDATE_LUA}"><!-- TRANSLATE update_instructions --></a>
								</div>
								<!-- TRANSLATE select_files -->
							</div>

<!-- BEGIN mini_file_fields -->
							<div class="tier-3-a">
								<div class="tier-3-b">
									<div class="text" style="margin-left">
										<div style="float:right;">
											<input type="file" accept="{mini_file_fields.FILE}.lua" name="{mini_file_fields.FILE}" />
										</div>
										<span class="ui-icon ui-icon-help" style="cursor:help;" {mini_file_fields.TOOLTIP}></span>{mini_file_fields.FILE}.lua
									</div>
								</div>
							</div>
<!-- END mini_file_fields -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mini-list" id="mini_login" style="width:375px;top:45px;right:5px;display:none;">

		<div class="tier-2-a">
			<div class="tier-2-b">
				<div class="tier-2-title">
					<!-- TRANSLATE auth_req -->
				</div>
		
				<div xmlns="http://www.w3.org/1999/xhtml" class="input-container" id="login-wrapper">
					<form action="{U_LOGIN_ACTION}" method="post" id="password-form" class=" username-required input-focus">
					<div class="control-group">
						<div class="controls">
						<input aria-labelledby="accountName-label" id="accountName" value="" name="accountName" title="Username" maxlength="320" type="text" tabindex="1" class="input-block" placeholder="Username" autofocus="autofocus" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
						<input aria-labelledby="password-label" id="password" value="" name="password" title="Enter your Password" maxlength="32" type="password" tabindex="1" class="input-block" autocomplete="off" placeholder="Enter your Password" />
						</div>
					</div>
					<div class="control-group">
						<button type="submit" id="submit" class="btn btn-primary btn-block" data-loading-text="" tabindex="1">
						Log In
						<i class="spinner-battlenet"></i>
						</button>
					</div>
					<div class="persistWrapper">
						<label for="rememberme"><!-- TRANSLATE remember_me --></label>
						<input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="1" />
					</div>
					<div id="help-links">
						{L_REGISTER}
						<i class="icon-external-link"></i>
					</div>
					</form>
				</div>
			</div>
	<!-- IF S_LOGIN_MESSAGE -->
			<div class="message">
				{L_LOGIN_MESSAGE}
			</div>
	<!-- ENDIF -->
		</div>

</div>