<div class="input-container" id="login-wrapper" style="margin: 0 auto;width: 350px;">
	<form action="" method="post" id="reg-form" class="input-focus" autocomplete="off">
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="accountName-label" id="username" value="" name="username" title="Username" maxlength="320" type="text" tabindex="1" class="input-block" placeholder="Username" autofocus="autofocus" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="accountName-label" id="email1" value="" name="email1" title="email1" type="text" tabindex="1" class="input-block" placeholder="E-mail address" autofocus="autofocus" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="accountName-label" id="email2" value="" name="email2" title="email2" type="text" tabindex="1" class="input-block" placeholder="Confirm E-mail address" autofocus="autofocus" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="password-label" id="password1" value="" name="password1" title="Enter your Password" maxlength="32" type="password" tabindex="1" class="input-block" autocomplete="off" placeholder="Enter a Password" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
			<input aria-labelledby="password-label" id="password2" value="" name="password2" title="Confirm your Password" maxlength="32" type="password" tabindex="1" class="input-block" autocomplete="off" placeholder="Enter it again" />
			</div>
		</div>
		<div class="control-group">
			<button type="submit" id="submit" class="btn btn-primary btn-block" data-loading-text="" tabindex="1">
			Sign Up
			<i class="spinner-battlenet"></i>
			</button>
		</div>
		<input type="hidden" name="op" value="register" id="op" />
	</form>
</div>
				
