
<form name="register" style="display:inline;" method="post" enctype="multipart/form-data" action="">
<div class="tier-2-a">
	<div class="tier-2-b">
		<div class="tier-1-title">
			<div class="icon">
				<img src="http://www.wowroster.net/Interface/Icons/inv_misc_gear_02.png" alt="" />
				<div class="mask"></div>
			</div>
			<!-- TRANSLATE register -->
		</div>
		
		<div class="tier-1-a" style="margin-top: 5px;">
			<div class="tier-1-b">
				<div class="tier-1-c exp-content">
					<div class="info-text-h">
						User Registration<br>
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" {CNAMETT} onmouseout="return nd();"></span>
									<label for="username">{CNAME}</label>
									</div>
									<div class="config-input">
										<input type="text" name="username" value="" id="pUsername" size="45"/>
									</div>
								</div>
							</div>
						</div>						
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" {EMAILTT} onmouseout="return nd();"></span>
									<label for="username">{EMAIL}</label>
									</div>
									<div class="config-input">
										<input type="text" name="email" value="" id="email" size="60"/>
									</div>
								</div>
							</div>
						</div>
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" data-tooltip="text-choose your password DONOT use your wow password">
										</span>
									<label for="username"><!-- TRANSLATE password --></label>
									</div>
									<div class="config-input">
										<input type="password" name="password1" value="" id="password1" size="30"/>
									</div>
								</div>
							</div>
						</div>
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<span class="ui-icon ui-icon-help" style="cursor:help;" data-tooltip="text-confirm your password above"></span>
									<label for="username"><!-- TRANSLATE new_pass_confirm --></label>
									</div>
									<div class="config-input">
										<input type="password" name="password2" value="" id="password2" size="30"/>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="op" value="register" id="op" />
						<input type="hidden" name="active" value="{CHAR_AUTH}" id="active" />
						<input type="submit" name="submit" class="button" id="xsubmit" value="Register" />

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
