
<div class="tier-3-a">
	<div class="tier-3-b">
		<div class="config">
			<div class="mgname"><strong>Roster AddOn Dev</strong></div>
			<div class="mgmember">40</div>
			<div class="mgsetting"><a href="./index.php?i=groups&amp;sid=7bece21065840203d4ee6d2ce0a4a1c8&amp;mode=manage&amp;action=edit&amp;g=27">Settings</a></div>
			<div class="mgaction"><a href="./index.php?i=groups&amp;sid=7bece21065840203d4ee6d2ce0a4a1c8&amp;mode=manage&amp;action=delete&amp;g=27">Delete</a></div>
			</tr>
		</div>
	</div>
</div>