.easymemberslist_header { width:100%; border-bottom:solid 1px #000; background:url('./images/table-header.gif'); height:29px; color:#f5ebd1; }
.easymemberslist_header_name { width: 20%; float:left; text-align:left; padding-top:7px; padding-left:5px; }
.easymemberslist_header_race { width: 8%; float:left; text-align:center; padding-top:7px;}
.easymemberslist_header_class { width: 8%; float:left; text-align:center; padding-top:7px;}
.easymemberslist_header_professions { width:20%; float:left; text-align:center; padding-top:7px; }
.easymemberslist_header_level { width: 5%; float:left; text-align:center; padding-top:7px;}
.easymemberslist_header_guildtitle { width: 20%; float:left; text-align:left; padding-top:7px;}
.easymemberslist_header_lastonline { width: 9%; float:left; text-align:center; padding-top:7px;}
.easymemberslist_header_note { width: 5%; float:right; text-align:center; padding-top:7px;  }

.easymemberslist_body_background_1 { border: 1px solid #222;
margin: 0px;background-color: rgb(34, 34, 34);
padding: 1px;
text-align: center;
color: #A8A8A8;
vertical-align: middle; height:30px; }
.easymemberslist_body_background_2 { border: 1px solid #222;
margin: 0px;background-color: rgb(51, 51, 51);
padding: 1px;
text-align: center;
color: #A8A8A8;
line-height: 12px;
vertical-align: middle; height:30px; }
.easymemberslist_body_name { width: 20%; float:left; text-align:left; height:30px; padding-left:5px; position:relative; top:8px; }
.easymemberslist_body_race { width: 8%; float:left; text-align:center; height:30px;}
.easymemberslist_body_class { width: 8%; float:left; text-align:center; height:30px;}
.easymemberslist_body_class img { position:relative; top:1px; }
.easymemberslist_body_professions { width:20%; float:left; text-align:right; height:30px;  }
.easymemberslist_body_level { width: 5%; float:left; text-align:center; height:30px; position:relative; top:8px;}
.easymemberslist_body_guildtitle { width: 20%; float:left; text-align:left; height:30px; position:relative; top:8px;}
.easymemberslist_body_lastonline { width: 9%; float:left; text-align:left; height:30px; position:relative; top:8px;}
.easymemberslist_body_note { width: 5%; float:right; text-align:right; height:30px; }
.easymemberslist_rowleft { width:50%; float:left; }
.easymemberslist_rowright { width:50%; float:right; }

.show_note { background:url('../../templates/default/images/note.gif') no-repeat; background-position:center; height:30px;  }
.no_note { background:url('../../templates/default/images/no_note.gif') no-repeat; background-position:center; height:30px;  }
.clearall {  clear:both; }

.easymemberslist_filter { width:50%; margin:auto; margin-bottom:10px; }
.easymemberslist_filerheader { width:96%; background:url('./images/table-header.gif'); color:#f5ebd1; font-size:1.5em; font-weight:bold; text-align:center; padding:5px; }
.easymemberslist_filterbody { }
.easymemberslist_filterfooter { border-top:solid 1px; background:#2b1507; text-align:center; width:96%; padding:5px; }
.easymemberslist_filterrow_left1 { background:#2b1507; width:48%; float:left; padding-left:5px; text-align:left; height:23px; padding-top:7px;}
.easymemberslist_filterrow_right1 { background:#2b1507; width:48%; float:left; padding-left:5px; text-align:left; height:26px; padding-top:4px; }
.easymemberslist_filterrow_left2 { background:#180c04; width:48%; float:left; padding-left:5px; text-align:left; height:23px; padding-top:7px;}
.easymemberslist_filterrow_right2 { background:#180c04; width:48%; float:left; padding-left:5px; text-align:left; height:28px; padding-top:2px; }

.easymemberslist_notice { text-align:center; font-weight:bold; font-size:1.5em; padding-top:7px; color:#f5ebd1; text-shadow: 2px 2px #4d1a07; }